
<section class="hero flex" id="about">
  <div class="left-section">
    <div class="parent-avatar flex">
     
      <img src="img/nailaphoto.png" class="avatar profile-pic" id="profileimg" alt="" />
      <h1 class="title">Eng.Naila Alissa</h1>
    </div>
 
    <p id="ProfileText" class="subtitle">
      I'm a Frontend Web Developer, specializing in crafting visually appealing and user-friendly
      websites. A Computer Engineering graduate from Damascus University, I bring strong
      problem-solving skills and the ability to adapt quickly. Passionate about sharing knowledge, I
      regularly post valuable content on Web Development on my LinkedIn. Open to job opportunities,
      I am a communicative, innovative team player eager to contribute and grow. Let's connect and
      explore how I can bring my skills to your team
    </p>
   <a href="https://nailaalissa.github.io/Naila-AlissaCV/"> <span class="cv">> Read More in My Cv</span> </a>

  

</section>
